<% layout('campgrounds/layouts/boilerplate.ejs') %>

    <!-- <h1>
        <%=campground.title %>
    </h1>
    <img src="<%= campground.image %>" alt="" srcset="">
    <h2>
        <%= campground.description%>
    </h2>
    <!-- <h2>
        <%= campground._id%>
    </h2> -->
    <!-- <h2>
        $<%= campground.price%>
    </h2>
    <h2>
        <%= campground.location%>
    </h2>
    <a href="/campgrounds">All Campgrounds</a>
    <a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form> -->

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text fs-6 fw-light">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        $<%= campground.price %>
                    </li>
                    <li class="list-group-item text-muted">
                        <%= campground.location %>
                    </li>
                    <!-- <li class="list-group-item">A third item</li> -->
                </ul>
                <div class="card-body">
                    <button class="btn btn-warning"><a href="/campgrounds/<%= campground._id %>/edit"
                            class="">Edit</a></button>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>